.truncate-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* Use the CSS variable to set the line limit dynamically */
  -webkit-line-clamp: var(--limit, 3); /* Default to 3 lines if variable not set */
  max-height: calc(var(--limit, 3) * 1.2em); /* Adjust 1.2em based on your line-height */
}

.read-more-button {
  background: none;
  border: none;
  color: #424dbf; /* Or your link color */
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
  margin-top: 8px;
  outline: 0 !important;
}

.read-more-button:hover {
  color: #535bf2; /* Darker shade on hover */
  font-size: 15.9px;
  transition: .2s font-size;
}
