.sideBar{
    flex: .5;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    background-color: #f5f5f5;
    padding: 30px;
}

.sideBar .sbTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 10px;
}

.sideBar .sbCoverImg{
    width: 100%;
    height: 120px;
    object-fit: cover;
    margin-bottom: -40px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.sideBar .sbProfileImg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.sideBar .sbUserName{
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 5px;
}

.sideBar .sbUserTile{
    font-size: 14px;
    color: #777777;
}

.sideBar .sbUserBio{
    font-size: 13px;
    color: #555555;
    text-align: center;
    padding: 10px;
}

.sideBar .sbLocation{
    font-size: 13px;
    color: #555555;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.sideBar .editButton {
  background-color: #535bf2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  gap: 3px;
  align-items: center;
  outline: 0 !important;
  font-size: small;
}

.sideBar .editButton:hover {
  background-color: #424dbf;
}

.sideBar .editButton .editIcon {
  margin-right: 5px;
  font-size: 14px;
}

.sideBar .sbMiddle1, .sideBar .sbMiddle2, .sbBottom {
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sbMiddle1 .sbItems{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #777777;
    text-align: center;
}

.sbItems .sbItem{
    display: flex;
    gap: 5px;
    align-items: center;
}

.sbItems .sbCount{
    font-size: 16px;
    font-weight: 500;
    color: #333333;
}

.sbMiddle1 .sbConnections{
    margin-top: 10px;
    display: flex;
}

.sbConnections .sbConnectionImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ffffff;
    margin-left: -10px;
}

.sbConnections .sbConnectionStatus{
    position: relative;
    left: -15px;
    font-size: 14px;
    color: #4caf50;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background-color: #4caf50;
}

.sbConnections .sbConnectionStatus.offline{
    position: relative;
    left: -15px;
    font-size: 14px;
    color: #656565;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background-color: #656565;
}

.sbConnections .sbConnection{
    border-bottom: thin solid #ccc;
    padding-bottom: 10px;
}

/* Remove bottom border and bottom padding for the .sbConnection inside the last .sbConnections block */
.sbConnections.last .sbConnection{
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.sbConnection .sbConnectionName{
    font-size: 13px;
    color: #555555;
}

.sbConnection .sbConnectionBio{
    font-size: 12.5px;
    color: #777777;
}

.sbConnection span{
    font-size: 12px;
    color: #777777;
    font-weight: 600;
    font-style: italic;
}

.sbConnections .sbConnectionChatIcon{
    cursor: pointer;
    color: #555555;
}

.sbConnectionViewAll{
    text-align: center;
    margin-top: 16px;
}

.sbConnectionViewAll span{
    padding: 5px;
    border: 1px solid #535bf2;
    border-radius: 5px;
    color: #535bf2;
    font-size: small;
    cursor: pointer;
}

.sbBottom .sbBottomTittle{
    display: flex;
    gap: 5px;
    align-items: center;
}

.sbBottom .sbBottomItems{
    padding-top: 10px;
}

.sbBottomItems .sbBottomItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.sbBottomItems .sbBottomItem p{
    font-size: 14px;
    color: #555555;
}

.sbBottomItems .sbBottomItem span{
    font-weight: 600;
}

.sbBottomItem .sbBottomItemView{
    padding: 5px;
    border: 1px solid #535bf2;
    border-radius: 5px;
    color: #535bf2;
    font-size: small;
    display: flex;
    align-items: center;
    cursor: pointer;
}